html[data-theme='dark'] {
  --text-color: #E4E4E4;
  --link-hover-color: #00C4F0;
  --btn-background-color: #00C4F0;
  --logo-color: #00C4F0;

  --card-background: linear-gradient(131deg, #373737 0%, #2b2b2b 100.52%);;
  --skills-background: #2a2a2a;
  --about-background: #2c2c2c;


  --background-color1: #16171A;
  --background-color2: #101014;
  --back-background: #101014;
}

html[data-theme='light'] {
  --text-color: #000000;
  --link-hover-color: #E2A100;
  --btn-background-color: #E2A100;
  --logo-color: #E2A100;
  

  --card-background: #fff;
  --skills-background: #4f4f4f;
  --about-background: #2c2c2c;

  --background-color1: #EEEFF1;
  --background-color2: #ffffff;
  --back-background: #ffffff;
}



*{
  padding: 0;
  margin: 0;

}
a{
  text-decoration: none;
  user-select: none;
}

html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #101014;
}
.header{
  flex: 0 0 auto;

}
main{
  flex: 1 0 auto;
  
}
.footer{
  flex: 0 0 auto;
}

