.textmain{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 170px 0;
    background: var(--background-color1);
}
.cont1{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.card1,.card2{
    display: flex;

    padding: 27px;
    background: var(--about-background);
    border-radius: 14px;
}

.cont2{
    padding: 19px 66px;
    background: var(--about-background);
    border-radius: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.text1{
    font-size: 44px;
    font-weight: 700;
    color: var(--text-color);
}
.text2{
    width: 370px;
    height: auto;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}


@media (max-width: 900px) { 
    .textmain{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

    }
    .card1{
        display: none;
    }

}

@media (max-width: 615px) {
    .textmain{
        display: flex;
        justify-content: center;
        padding: 100px 0;
    } 
    .text2{
        width: 270px;
        height: auto;
        
    }
    .cont2{
        padding: 10px 20px;
    }
}